build/
dist/
tools/*
!tools/scripts/
!tools/scripts/**
!tools/requirements.txt
qemu.log
.vscode/
.idea/
doc/
tools/.venv/
targets/x86_64/iso/boot/**
!targets/x86_64/iso/boot/grub/grub.cfg
compile_commands.json

initramfs/bin/
initramfs/lib/modules/